%div.post
  %h2.title Blocks

  %div.entry
    - if @blocks.blank?
      %h3 None here
    - else
      %table.data
        %tr
          %th Section Name
          %th Last Updated
          %th Body
          %th Actions
        - @blocks.each do |block| 
          %tr{:class => cycle("odd","even")}
            %td= link_to block.label_display, block.section_path
            %td= h block.updated_at.to_s(:long)
            %td= link_to truncate(block.body, :length => 120, :omission => " (more..)"), block.section_path
            %td{:width => 40}
              = edit_entity_image(edit_admin_block_path(block))
