- content_for :js do
  :javascript
    $(document).ready(function($) {
      $('#username').focus()
    })

%div.post
  %h2.title Admin Login

  %div.entry
    %p
      - form_tag admin_sessions_path, :method => :post do
        %table
          %tr
            %td
              %label Username
            %td= text_field_tag :username
          %tr
            %td
              %label Password
            %td= password_field_tag :password
          %tr
            %td &nbsp;
            %td= submit_tag "Login"

