%h2
  Category :
  = h @category.name

%h3 
  Subcategory :
  = h @subcategory.name

%ul
  - @subcategory.forms.each do |form|
    %li
      = link_to form.name, category_subcategory_form_path(@category, @subcategory, form)
      = h form.description
