%div.post
  %h2.title New Funky Functional Piece

  %div.entry
    - form_for [:admin, @piece], :method => :post do |f| 
      = render :partial => 'admin/pieces/form', :locals => {:f => f}
      = f.submit "Create"

  %div.actions
    = index_entity_image(admin_functional_pieces_path, "Back to all funky functional pieces")

