#upload {
	display:none;
	width:400px;	
	border:10px solid #666;
	border:10px solid rgba(82, 82, 82, 0.698);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#upload div {
	padding:10px;
	background-color:#fff;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif
}

#upload h2 {
  padding-bottom: 5px;
  padding: 5px 10px;
  font-size: 20px;
}

#upload div p {
  padding:10px;
}

#upload .throbber {
  display: none;
  padding-left: 40px;
}

#images_add {
  padding-top: 12px;
  font-style: italic;
}

#images_add span.count {
  padding-left: 10px;
}

#images_container div.hscroll_images {
  width: 636px;
  overflow:auto;
  white-space: nowrap;
}

table.image td{
  
}

a.thumb img {
  border: 5px solid #878787;
}

a.thumb_primary img {
  border: 5px solid red;
}

