body {
	margin: 0;
	padding: 0;
	/* background: #E2C738; */
  background: #E3DAB5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/* color: #464646; */
  color: #464646;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #181818;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #464646;
}

a:hover {
  text-decoration: underline;
}

a img {
  border:0;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.clear {
  clear:both;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

img.action-image {
  padding: 2px;
}

/* data table */

table.data, table.data th, table.data tr, table.data td {
  margin: 0
  padding: 0
  border-spacing: 0;
  border-collapse: collapse;
}

table.data th {
  border-bottom: 1px solid black;
  padding: 4px;
  font-size: 1.1em;
}

table.data tr.odd {
  background-color: #EEEEEE;
}

table.data tr.even {
  background-color: #CCCCCC;
}

table.data td {
  padding: 8px;
}

/* actions table */

table.actions {
}

/* form */

label {
  width: 100px;
  float: left;
  border-bottom: 1px dashed #C8B032;
  border-left: 4px solid #C8B032;
  padding-left: 6px;
  margin-right: 8px;
}

form input {
  margin-left: 6px;
}

textarea {
  margin: 13px 2px;
}

.fieldWithErrors input, .fieldWithErrors textarea {
  background: #FFEEDD;
}

.fieldWithErrors label {
  border-bottom: 1px solid red;
  border-left: 4px solid red;
}

/* Header */

#header-wrapper {
}


#header {
	width: 960px;
	height: 190px;
	margin: 0 auto;
	background: url(../images/template/header6.jpg) no-repeat right bottom;
}

/* Logo */

#logo {
	float: left;
	height: 240px;
	margin: 0;
	padding: 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	padding-top: 110px;
	padding-left: 10px;
	letter-spacing: -1px;
	font-size: 4.6em;
	color: #97B39F;
}

#logo h1 a {
	color: #E3295B;
}

#logo p {
	margin-top: -10px;
	padding: 12px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #464646;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #464646;
}

/* Menu */

#menu {
	width: 960px;
	height: 38px;
	margin: 0 auto;
	padding: 0;
  padding-bottom: 6px;
	background: #000000;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 25px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 18px;
	margin-right: 3px;
	padding: 12px 20px 0px 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu .current_page_item a {
	padding-left: 0;
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	background: url(../images/template/bg_col1.jpg) repeat-y left top;
}

#page-bgtop {
}

#page-bgbtm {
	padding: 0px 20px 0px 20px;
}

#flashes p.notice , #flashes_now p.notice {
  background: green;
  font-weight: bold;
  padding-left: 26px;
  font-size: 1.4em;
  color: #FFFFFF;
}

#flashes p.error , #flashes_now p.error{
  background: red;
  font-weight: bold;
  padding-left: 26px;
  font-size: 1.4em;
  color: #FFFFFF;
}

/* Content */

#content {
	float: right;
	width: 680px;
	padding: 0;
}

.post {
}

.post .title {
	padding: 12px 0 0 20px;
	letter-spacing: -.5px;
	/* color: #E3295B; */
  color: #3E574F;
}

.post .title a {
	color: #2B2B2B;
	border: none;
}

.post .meta {
	margin-top: 4px;
  margin-left: 20px;
	padding-bottom: 2px;
  padding-top: 8px;
	padding-left: 15px;
	background: url(../images/template/bullet.jpg) no-repeat left 6px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	/* color: #EB5982; */
  color: #6A9E8D;
}

.post .meta a {
	/* color: #EB5982; */
  color: #6A9E8D;
}

.post .entry {
	margin-bottom: 25px;
	padding: 30px 20px 10px 20px;
}

.actions {
	margin-bottom: 10px;
	padding: 2px 20px 10px 20px;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 230px;
  margin-top: 30px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
  margin-right: 10px;
	border-bottom: 1px dashed #C8B032;
}

#sidebar li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #181818;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 0px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Footer */

#footer-wrapper {
}

#footer {
	width: 960px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: url(../images/template/bg_footer1.jpg) no-repeat left top;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 11px;
	text-align: center;
	color: #464646;
}

#footer a {
	color: #E3295B;
}

/*** Sections ***/

/* Posts */

div.post-footer {
  
}

ul h3.archive-year {
  padding: 16px;
}

div.meta p {
  margin: 0;
  padding: 0;
  line-height: 100%;
}


/* Links */

ul.links {
  padding-left: 8px;
  list-style: none;
}

ul.links li {
  padding-bottom: 20px;
}

ul.links li span.description {
  margin-left: 10px;
}

/* Forms */

#breadcrumbs {
  margin: 2px 8px 2px 12px;
  padding: 6px;
  font-size: 1.2em;
  border-bottom: 1px dashed #C8B032;
  border-left: 4px solid #C8B032;
}

#breadcrumbs-blank {
  margin: 2px 8px 3px 12px;
  padding: 6px;
  font-size: 1.2em;
}

div.entry ul.menu {

}

div.entry ul.menu li {
  
}

