%div.post
  %h2.title New Link

  %div.entry
    - form_for [:admin, @link], :method => :post do |f| 
      = render :partial => 'admin/links/form', :locals => {:f => f}
      = f.submit "Create New link"

  %div.actions
    = index_entity_image(admin_links_path, "Back to all links")

