- unless flash[:error].blank?
  %p.error
    Error: 
    = flash[:error]

- unless flash[:warning].blank?
  %p.warning
    Warning: 
    = flash[:warning]

- unless flash[:notice].blank?
  %p.notice 
    = flash[:notice]

