- image = imageable.image
#image_container
  - if image
    = link_to image_tag(image.thumb), image.full, :rel => :facebox, :class => :thumb

  #images_add
    = tag(:input, type: 'button', value: "#{image ? "Change" : "Set"} Image", onclick: "show_upload()")
    - if image
      = button_to "Remove Image", admin_image_path(image, :imageable_type => image.imageable_type, :imageable_id => image.imageable_id), :method => :delete, :remote => true, data: { :confirm => "Are you sure you want to remove this image?" }
