- obj = show_images
- images = show_images.images.primary_first

.multi_image
  .float_left  
    = link_to image_tag(images[0].inline), images[0].full, :rel => :facebox
  .float_right
    - images[1..-1].each do |image|
      = link_to image_tag(image.thumb), image.full, :rel => :facebox, :class => "thumb"
  
  .clear

%div{:style => "display:none"}
  .primary_image
    = link_to image_tag(images[0].inline), images[0].full, :rel => :facebox

  - if images[1..-1].any?
    .hscroll_images
      %table.image
        %tr
          - images[1..-1].each do |image|
            %td
              = link_to image_tag(image.thumb), image.full, :rel => :facebox, :class => "thumb"
