%div.post_header
  %h2.title Pieces

- if @pieces.blank?
  %div.entry
    %p None
- else
  - @pieces.each do |piece|
    %div{:class => cycle("preview_row_odd","preview_row_even")}
      .image= link_to(image_tag(piece.images.primary_first.first.public_filename(:thumb), :alt => ALT_TAG_DEFAULT), piece_path(piece))
      .body
        %h3= link_to(piece.name, piece_path(piece))
        %p
          TODO
          %br
          This piece is for sale for $90.
      .clear
  %div.post-footer.center
    = will_paginate @pieces
