- if @pieces.blank?
  %div.post
    %h2.title Pieces

    %div.entry
    %p None
- else
  - @pieces.each do |piece|
    = render :partial => 'pieces/piece', :object => piece
    %p= link_to "View", piece_path(piece)

