= render :partial => 'pieces/piece', :object => @piece

- if current_user
  %div.post
    %div.footer
      %p
        = edit_entity_image(edit_polymorphic_path([:admin, lineage].flatten), "Edit this piece")
