- @about.each do |section|
  %div.post
    %h2.title= section.label_display
    %div.entry
      - if section.accepts_image?
        = images_for section, :align => :right

        = auto_link(simple_format(section.body))

      - if current_user
        %br
        = edit_entity_image(edit_admin_block_path(section), "Edit this block")
    .clear

