%div.post
  %h2.title Teaching

  %div.entry
    = images_for @block, :align => :right
    = auto_link(simple_format(@block.body))

    .clear

- if current_user
  %div.post
    %div.footer
      %p
        = edit_entity_image(edit_admin_block_path(@block), "Edit this block")
