%h2 Wholesale

%p= @block.body

%h3 Price List

- if @categories.blank?
  %p None
- else
  - @categories.each do |category|
    - unless category.subcategories.blank?    
      %h4= h category.name
      - category.subcategories.all_active.each do |subcategory|
        = render :partial => 'blocks/subcategory', :object => subcategory
    
