%div.post
  %h2.title Wholesale

  %div.entry
    = h @block.body
    = link_to "Logout of Wholesale", "/logout"


%div.post
  %h2.title Price List

  %div.entry
    - if @categories.blank?
      %p None
    - else
      - @categories.each do |category|
        - unless category.subcategories.blank?    
          %h4= h category.name
          - category.subcategories.all_active.each do |subcategory|
            = render :partial => 'blocks/subcategory', :object => subcategory
    
