%div.post
  %h2.title Wholesale

  %div.entry
    = auto_link(simple_format(@block.body))
    %p= link_to "Logout of Wholesale", "/logout"
    = edit_entity_image(edit_admin_block_path(@block), "Edit this block") if current_user

%div.post
  %div.entry
    - if @categories.blank?
      %p None
    - else
      - @categories.each do |category|
        - unless category.forms.active.blank?
          - category.subcategories.active.each do |subcategory|
            = render :partial => 'blocks/subcategory', :object => subcategory
            %br

