%div.post
  %h2.title Links

  %div.entry
    - if @links.blank?
      %p none
    - else
      %p
        %ul.links
          - @links.each do |link|
            %li
              %em= link_to((link.title.blank? ? link.url : link.title), link.url)
              - unless link.description.blank?
                %br              
                %span.description= h link.description
