%div.post
  %h2.title Posts

  %div.entry
    %p
      - new_entity_image(new_admin_post_path)
      = link_to "Create new post", new_admin_post_path

    - if @posts.blank?
      %h3 No posts
    - else
      %table.data
        %tr
          %th Last Updated
          %th Title
          %th Body
          %th Actions
        - @posts.each do |post| 
          %tr{:class => cycle("odd","even")}
            %td= h post.updated_at.to_s(:long)
            %td= link_to post.title, post_path(post)
            %td= link_to truncate(post.body, :length => 120, :omission => " (more..)"), post_path(post)
            %td{:width => 40}
              - edit_entity_image(edit_admin_post_path(post))
              - delete_entity_image(admin_post_path(post))
