%div.post
  %h2.title New Post

  %div.entry
    - form_for [:admin, @post], :method => :post do |f| 
      = render :partial => 'admin/posts/form', :locals => {:f => f}
      = f.submit "Create New Post"

  %div.actions
    - index_entity_image(admin_posts_path)
    = link_to "Back to all posts", admin_posts_path

