= render :partial => 'posts/post', :locals => {:post => @post}

%div.actions
  - index_entity_image(admin_posts_path)
  = link_to "Back to all posts", admin_posts_path
  %br
  - edit_entity_image(edit_admin_post_path(@post))
  = link_to "Edit this post", edit_admin_post_path(@post)
  %br
  - delete_entity_image(admin_post_path(@post))
  = link_to "Delete this post", admin_post_path(@post), :method => :delete, :confirm => "Are you sure you want to delete this?"
