- wholesale_passwords
- if wholesale_passwords.blank?
  None
- else
  %table.data
    %tr
      %th Password
      %th Expires
      %th Usable?
      %th Actions      
    - wholesale_passwords.each do |pw|
      %tr{:class => cycle("odd","even")}
        %td= pw.password
        %td= pw.expires_at.try(:to_s, :table) || "N/A"
        %td= boolean_image(pw.usable?)
        %td{:width => 46}
          = delete_entity_image(admin_wholesale_password_path(pw))

