%div.post
  %h2.title= @title

  %div.entry
    - form_for [:admin, @wholesale_password], :method => :post do |f| 
      = render :partial => 'admin/wholesale_passwords/form', :locals => {:f => f}
      = f.submit "Add New"

  %div.entry
    = render :partial => "admin/wholesale_passwords/wholesale_passwords"
    