%div.post
  %h2.title= h @form.name

  %div.entry
    = simple_format @form.description

    %p
      Price:
      = @form.retail_price
      - if wholesale?
        %br
        Wholesale Price:
        = @form.wholesale_price

