%div.post
  %h2.title News Archive

  %div.entry
    %p
      %ul.links
        - year = nil
        - @posts.each do |post|
          - unless post.updated_at.year == year
            - year = post.updated_at.year
            %h3.archive-year= year
          %li
            %em= h post.updated_at.to_s(:simple_short)
            %span.description= simple_format link_to(post.title, post_path(post.permalink))
      
