%div.post
  %h2.title New Image

  %div.entry

    - form_for(@image || Image.new, :url => admin_images_path, :html => { :multipart => true }) do |f|
      = f.error_messages

      = f.label :image      
      = f.file_field :uploaded_data

      %p
        = submit_tag 'Create'

