= render :partial => "forms/breadcrumbs"

%div.post
  %h2.title Categories

  %div.entry
    %ul.menu
      - @categories.each do |category|
        %li
          = link_to category.name, category_path(category)
          = ":"
          = h category.description

