%h2
  Category :
  = h @category.name

%h3 Subcategories

%ul
  - @subcategories.each do |subcategory|
    %li
      = link_to subcategory.name, category_subcategory_path(subcategory.category, subcategory)
      = h subcategory.description
